<a href="https://colab.research.google.com/github/johnny24595/LearnPython/blob/main/SmartPlant_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Smart Plant AI team presents:
# Interactive python tutorial
<hr/>

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>
            <a href="#Running-a-first-program">Running a first program</a></li>
            <li><a href="#Types-of-objects-in-Python">Types of objects in Python</a></li>
            <li><a href="#Expressions-and-Variables">Expressions and Variables</a></li>
            <li><a href="#Introducing-lists">Introducing lists</a></li>
            <li><a href="#if---Statements">if-Statements</a></li>
            <li><a href="#Dictionaries">Dictionaries</a></li>
            <li><a href="#User-Input">User Input</a></li>
            <li><a href="#While-Loops">While Loops</a></li>
            <li><a href="#Functions">Functions</a></li>
            <li><a href="#Classes">Classes</a></li>

</div>

<hr>

## Running a first program

### Say 'Hello' to the world in Python

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
[Tip]: To execute the Python code in the code cell below, click on the cell to select it and press <kbd>Shift</kbd> + <kbd>Enter</kbd>.
</div>
<hr/>

In [ ]:
# Try your first Python output

print('Hello, Python!')

### Writing comments in Python

In [ ]:
# Practice on writing comments

print('Hello, Python!') # This line prints a string
# print('Hi')

### Exercise: Your First Program

<p>Generations of programmers have started their coding careers by simply printing "Hello, world!". You will be following in their footsteps.</p>
<p>In the code cell below, use the <code>print()</code> function to print out the phrase: <code>Hello, world!</code></p>

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
print('Test')

Test

<p>Now, let's enhance your code with a comment. In the code cell below, print out the phrase: <code>Hello, world!</code> and comment it with the phrase <code>Print the traditional hello world</code> all in one line of code.</p>

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

<hr/>

## Types of objects in Python

<a align="center">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/TypesObjects.png" width="600">
</a>

In [ ]:
# Type of 12

type(12)

In [ ]:
# Type of 2.14

type(2.14)

In [ ]:
# Type of "Hello, Python 101!"

type("Hello, Python 101!")

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    [Tip:] Note that strings can be represented with single quotes (<code>'1.2'</code>) or double quotes (<code>"1.2"</code>), but you can't mix both (e.g., <code>"1.2'</code>).
</div>
<hr/>

### Converting from one object type to a different object type

In [ ]:
# Convert 2 to a float

float(2)

In [ ]:
# Convert integer 2 to a float and check its type

type(float(2))

In [ ]:
# Convert a string into an integer

int('1')

In [ ]:
# Convert a string into an integer with error

int('1 or 2 people')

In [ ]:
# Convert the string "1.2" into a float

float('1.2')

### Exercise:

<p>In the code cell below, use the <code>type()</code> function to check the object type of <code>12.0</code>.

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

### Boolean data type

<p><i>Boolean</i> is another important type in Python. An object of type <i>Boolean</i> can take on one of two values: <code>True</code> or <code>False</code>:</p>

In [ ]:
True

In [ ]:
False

<p>We can cast boolean objects to other data types. If we cast a boolean with a value of <code>True</code> to an integer or float we will get a one. If we cast a boolean with a value of <code>False</code> to an integer or float we will get a zero. Similarly, if we cast a 1 to a Boolean, you get a <code>True</code>. And if we cast a 0 to a Boolean we will get a <code>False</code>. Let's give it a try:</p>

In [ ]:
# Convert True to int

int(True)

In [ ]:
# Convert True to int

float(False)

### Exercise:

<p>In the code cell below, use the <code>type()</code> function to check the object type of <code>False</code>.

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

<hr/>

## Expressions and Variables

<p>Expressions in Python can include operations among compatible types (e.g., integers and floats). For example, basic arithmetic operations like adding multiple numbers:</p>

# Addition operation expression

43 + 60 + 16 + 41

In [ ]:
# Subtraction operation expression

50 - 60

In [ ]:
# Multiplication operation expression

5 * 5

In [ ]:
# Division operation expression

25 / 5

In [ ]:
# Integer division operation expression

25 // 5

In [ ]:
# Integer division operation expression

25 // 6

### Variables

<p>Just like with most programming languages, we can store values in <i>variables</i>, so we can use them later on. For example:</p>

In [ ]:
# Store value into variable

x = 43 + 60 + 16 + 41

In [ ]:
# Print out the value in variable

x

In [ ]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

In [ ]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

In [ ]:
# Complicate expression

total_hours = (43 + 42 + 57) / 60  # Total hours in a single expression
total_hours

### Exercise: Expression and Variables in Python

<p>What is the value of <code>x</code> where <code>x = 3 + 2 * 2</code></p>

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

<p>What is the value of <code>y</code> where <code>y = (3 + 2) * 2</code>?</p>

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

<p>What is the value of <code>z</code> where <code>z = x + y</code>?</p>

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

<hr/>

## Introducing lists